			.footer {
				overflow:hidden;
				margin-top:-20px;
				position:relative;
				width: 1000;
				display: block;
			  left:50%;
				margin:30 auto 30 -500;
				clear: both;
				bottom:0;
				background-color: rgba(204, 204, 204, .4);
				border-radius:15px;
			}
			.foot_col_l {
				width: 280;
				display: inline-block;
				margin: 0 40 15 5;
				padding:10;
				text-align:center;
			}
			.foot_col_r {
				width: 280;
				text-align:center;
				display: inline-block;
				margin: 0 5 15 0;
				padding:10;
				right: 0;
				position:relative;
			}
			.foot_col_m {
				width: 280;
				text-align:center;
				display: inline-block;
				margin: 0 40 15 0;
				padding:10;
			}
			.logo_pic{
				width:110px;
				left:50%;
				margin:-10 0 0 -30px;
				position:absolute;
			}
			.logo {
				display:inline-block;
			}			
			.menutray {
				margin: auto auto;
				padding: 0 30px;
				max-width:1200px;
				bottom:0px;
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight:700;
				color: #333333;
				font-size:40px;	
				margin-top:20px;
			}
			.settings {
				float:right;
				margin-top:20px;
				font-size: 20px;
			}
			.menusetting {
			margin-left:20px;
			margin-right: 20px;
			}
    	.menu {
				overflow:hidden;
				margin: 0px;
				bottom:0px;
				Height: 100px;
				text-align: bottom;
				width: 100%;
				display: block;
				min-width:1000px;
			}
			.beta {
				font-family: 'Source Code Pro', sans serif;
				font-size:25px;
				font-weight: 400;
			}
