      .robot_profile{
				overflow:hidden;
				width: 770px;
				height: 770px;
			  margin: 0 -1;
				background-size:cover;
				display:block;	
				position:relative;
			}
			.file_icon{
				width:100px;
				height:100px;
				border:1px solid black;
				border-radius:10px;
			}
			.file_box{
				padding:5;
				margin:20;
				display:inline-block;
			}
			.promo_thumb{
				width:220px;
				height:80px;
				display:inline-block;
				text-align:center;
				padding:20 10;
				border:solid #cccccc 1;
				border-radius:5px;
				margin:10 0 10 10;
			}
			.nav_tray{
				padding:10px;
			}
			.robot_profile_title{
				position:absolute;
				bottom:0;
				background-color: rgba(75,75,75,.5);
				margin:20px;
				color:white;
				width:710;
				border-radius:10px;
				height:200px;
				padding:10px;
			}
			.info_pane_tray{
				margin:0 10 10 10;
			}
			.info_tab{
				border-top-left-radius:5px;
				border-top-right-radius:5px;
				text-align:center;
				padding: 5 15 5 15;
				background-color:white;
				border-top:1 solid #00adee;
				border-left:1 solid #00adee;
				border-right:1 solid #00adee;
				border-bottom:1 solid white;
				margin-bottom:-1;
				display:inline-block;
			}
			.info_pane{
				border-bottom-left-radius:5px;
				border-bottom-right-radius:5px;
				border-top-right-radius:5px;
				width:718;
				background-color:white;
				border:1 solid #00adee;
				min-height:250;
				padding:15px;
			}
			.background {
				background-image:url("http://store.openrobot.net/images/store/handmadepaper2.png");
				background-size:100 100;
			}
			.unselected {
				background-color:#eff5fa;
				border-bottom: 1 solid #00adee;
				color:#00adee;
			}
			.fright{
				position:absolute;
				right:10;
				width:157;
				bottom:10;
			}
			.rcmnt {
				white-space:pre-wrap;
				margin-left:5px;
				border-left:1px solid #cccccc;
				padding:10 0 0 10;
				font-size:18px;
			}
			.banner {
				overflow: hidden;
				width: 768px;
				height: 256px;
				display: block;
      }
			.subduetxta {
				border-color:#cccccc;
			}
			a.option_ {
				font-family: 'Open Sans', sans-serif;
				font-size: 12px;
				display: inline-block;
				margin: 3px;
				user-select:none;
			}
      .browsershadow {
				width: 100%;
				height: 200%
				background-color: rbga(10,10,10,.6);
				position:absolute;
     	}
			.option_on {
				background-color: rgba(0,173,238,1);
				border-radius: 3px;
				display: inline-block;
				padding: 1px 3px;
				font-size: 12px;
				font-family: 'Open Sans', sans-serif;
				cursor: pointer;
				color: white;
				margin: 3px;
				box-shadow: 0px 0px 10px -5px #111111;
			}
			.option_off {	
				cursor: pointer;
				background-color: rgba(120,150,238,0);
				border-radius: 3px;
				margin: 3px;
				display: inline-block;
				padding: 1px 3px;
				font-size: 12px;
				font-family: 'Open Sans', sans-serif;
				color: #00adee;
			}
			#preceipt {
				margin:5px;
				display:block;
			}
			#psubject {
				margin:5px;
				display:block;
			}
			#pmessage {
				display:block;
				margin:5px;
				width:290px;
				resize:vertical;
			}
			.register_pop {
				background: white;
				border: 1px solid #00adee;
				border-radius: 5px;
				padding:5px;
				position:absolute;
				width:300px;
				top:50%;
				left:50%;
				z-index:200;
				margin:-150px -100px;
			}
			.pm_pop {
				background: white;
				border: 1px solid #00adee;
				border-radius: 5px;
				padding:5px;
				position:absolute;
				width:300px;
				top:50%;
				left:50%;
				z-index:200;
				margin:-150px -100px;
			}
			.fronttiles {
				height:600px;
				padding: 0 5px;
				z-index: 10;
			}
			.bodywrap {
			}
			.regi {
				margin:3px;
			}
			.regit {
				margin:3px;
				width:318px;
				border-color: #cccccc;
				resize:vertical;
			}
			.foot {
				background-color:white;
			}
			.regwarn {
				font-size:10px;
				text-align:center;
				color:#cccccc;
				margin:0;
			}
			.betareg{
				background-color:white;
				border: 1px solid #00adee;
				margin-left:-48px;
				border-radius:3px;
				display:inline-block;
				box-shadow: 0px 0px 10px -5px #111111;
				padding:5px;
				margin-bottom:165px;
			}
			.logincont{
				border: 1px solid #00adee;
				border-radius:5px;
				padding:10px;
				display: inline-block;
				margin:10px;
				box-shadow: 0px 0px 10px -5px #111111;
				background-color:white;
			}
			.storebody {
				margin: 0 auto;
				display: -webkit-flex;
				clear: both;
				width: 1000px;
			}
      .tray {
        overflow: hidden;
				border-bottom: 1px solid #00adee;
				border-top: 1px solid #00adee;
        vertical-align: middle;
        width: 768px;
        display: block-inline;	
      }
      .catagories {
				overflow: hidden;
				margin: 2px;
				text-align: left;
				width: 120px;
				height: 120px;
				padding: 0;
      }
      .store {
				display:inline-block;
				margin-bottom:130px;
				z-index:5;
				width: 768px;
				border-right: 1px solid #00adee;
				border-left: 1px solid #00adee;
				border-top: 1px solid #00adee;
				background-color:#eff5fa;
				margin-bottom:0px;
				box-shadow: 0px 0px 10px -5px #111111;
				user-select: none;
				cursor:default;
      }
			.accountslider {
				display:inline-block;
				max-width:212px
			}
			.traybutton_add {
				height: 20px;
				border: 2px solid #00ff53;
				border-radius: 4px;
				background-color: white;
				text-align: center;
				color: #00ff53;
				float: right;
				padding-left:5px;
				padding-right:5px;
				margin-top:10px;
				margin-right:10px;
				display:inline-block;
				font-family: 'Open Sans', sans-serif;	
			}
			.searchbar {
				height: 20px;
				width: 150px;
				border: 1px solid #00adee;
				border-radius: 10px;
				color: #00adee;
				float:right;
				display: inline-block;
				background-color: white;
			}
			.traybutton_remove {
				height: 20px;
				float: right;
				margin-top:10px;
				margin-right:10px;
				border: 2px solid #ff5400;
				border-radius: 4px;
				background-color: white;
				text-align: center;
				color: #ff5400;
				padding-left:5px;
				padding-right:5px;
				padding-bottom:0px;
				display:inline-table;
				font-family: 'Open Sans', sans-serif;	
			}
			.opensans {
				font-family: 'Open Sans', sans-serif;
				color:#333333;
			}
			span {
				font-family: 'Open Sans', sans-serif;
				color: #333333;
			}
			.options {
				cursor:default;
				margin: 14px 13px;
				border-radius:5px;
				height:100px;
				width: 100px;
				float: left;
}
