
      .thumb {
				overflow: hidden;
				margin: 14px;
				vertical-align: middle;
				width: 100px;
				border-radius: 3px;
				height: 100px;
				display: inline;
				float: right;
				position: relative;
				background-size:cover;
      }
			.thumbinfo {
				display: inline;
				width: 100px;
				position: absolute;
				bottom: 0px;
				visibility: hidden;
				background-color: rgba(255, 255, 255, .6);
			}
			.thumbspan {
				font-size:10px;i
				opacity: 1;
			}
