     	.tile {
				box-sizing:initial;
        margin: 5px 5px;
        border: 1px solid #00adee;
				border-radius: 8px;
        vertical-align: middle;
        width: 347px;
				background-color:#fff;
        height: 201px;
        display: inline-block;
				position:relative;
				float: left;
				padding: 10px 10px;
				box-shadow: 0px 0px 10px -5px #cccccc;
      }
			.tile_loading {
				background-color:rgba(69,69,69,.5);
				width:367px;
				height:221px;
				position:absolute;
				margin:-10px;
				z-index:10;
				border-radius:7px;
			}
			.tload_msg {
				color:white;
				margin: 105px auto;
				clear:both;
				display:table;
			}
			.comment_scroller {
				overflow-y: scroll;
				height:150px;
			}
			.comment_container {
				overflow: visible;
				position:relative;
				height:182px;
				width:100%;
			}
			.replyon {
				border: 1px dashed #cccccc;
				background-color:#eff5fa;
			}
			.cmnt {
				white-space:pre-wrap;
				margin-left:5px;
				border-left:1px solid #cccccc;
				padding-left:2px;
				font-size:10px;
			}
			.hiddenc {
				color: #cccccc;
			}
			.comm_input {
				width:263px;
				position:absolute;
				bottom:2px;
			}
			.btn-comm {
				bottom:0px;
				right:0px;
				position:absolute;
			}
			.tile_btn_data {
				height:15px;
			}
			.btn-tile {
				margin-top: 6px;
				color:#333333;
				width: 157;
				margin-right:-10px;
				font-family: 'Open Sans', sans-serif;
			}
			.downloadbtn {
				height: initial;
				border: 2px solid #ff5400;
				border-radius: 4px;
				background-color: white;
				text-align: center;
				color: #ff5400;
				position:absolute;
				width:139px;
				left: 8px;
				bottom:0px;
				padding-bottom:0px;
				font-family: 'Open Sans', sans-serif;	
			}
			.tiletitle {
				width: 332px;
				top: -5px;
				position: relative;
			}
			.tileprofile {
				width: 180px;
				height: 180px;
				display:inline;
				border: 1px solid #cccccc;
				border-radius:5px;
				position:relative;
			}
			.fileup {
				width: 100px;
				height: 100px;
				position:absolute;
				display:none;
				background-color:white;
				border: 1px solid #cccccc;
				border-radius:3px;
			}
			.datacol {
				font-size: 12px;
				width: 155px;
				height: 140px;
				overflow:scroll;
				white-space:pre-wrap;
				border-radius:3px;
			}
			.tileinfo{
				width:320px;
				height: 180px;
				display: inline;
			}
			div {
				box-sizing: initial;
			}
			.tileclose{
				position: absolute;
				width: 100px;
				right: 0px;
			}
